@model AuthorizerPresentation.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Role Details</legend>

    <div>
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RoleName)
                </td>

                <td>
                    <b>
                        @Html.DisplayFor(model => model.RoleName)
                    </b>
                </td>
            </tr>
        </table>

        <p>Page Access Details</p>

        @foreach (var page in Model.pageDetails)
        {
            <div>
                <span>@Html.CheckBox("Blah", page.Access, new { disabled = "disabled" })</span>&nbsp;
                <span>@page.PageName</span>
            </div>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
