@model IEnumerable<AuthorizerPresentation.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "IndexRoles";
}

<h2>IndexRoles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            <ul>
                @foreach (var page in item.pageDetails)
                {
                    <li>@page.PageName</li>
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RoleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RoleId })
        </td>
    </tr>
}

</table>
